@model HRManagement.Data.Entities.Company



<table class="table">
    <tr>
        <figure class="figure">
            <img class="rounded mx-auto d-block" height="256px" width="256px" src="~/images/@Model.Logo" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">Şirketin Şuanki Logosu.</figcaption>
        </figure>
    </tr>

    <tr>
        <td><span>Şirket Adı:</span></td>
        <td><span>@Model.CompanyName</span></td>
    </tr>

    <tr>
        <td><span>Vergi No:</span></td>
        <td><span>@Model.TaxNumber</span></td>
    </tr>
    <tr>
        <td><span>Telefon:</span></td>
        <td><span>@Model.TelNumber</span></td>
    </tr>

</table>
<a class="btn btn-primary btn-block" asp-controller="Settings"
   asp-action="CompanyEdit"
   asp-route-ID="@Model.ID">Düzenle</a>