
@{
    ViewData["Title"] = "Login";
}


<link href="~/css/login.css" rel="stylesheet" />

<div class="loginBox">

    <img src="~/images/user.png" class="user">
   
    <form>
        <p>Email</p>
        <input type="text" name="" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter Password">
        <input type="submit" name="" value="sign In">
        <a href="#"> Forget Password</a>

    </form>
</div>

